h1{
    color: aqua;
}
.topnav{
    background-color: #3C6255;
    text-align: center;
    margin-left: auto;
    
}
.topnav a {
    color: #EAE7B1;
    text-align: center;
    font-size: 30px;                    
    padding: 14px 16px;
  }
  body{
    display:flex; 
    flex-direction:column; 
}

.sidebar{
    background: #3C6255;;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.bar-item{
    margin: 20px;
    display: block;
    
}
.button{
    color: #EAE7B1;
}
a{
    text-decoration: none;
    color: white;
}

h1{
    color: black;
}

.myfooter{
    size: 21px;
    background-color: #3C6255;
    color: #EAE7B1;
    margin-left: 15%;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    text-align: center;
    
}
.content{
    margin-left: 15%;
}
.header{
    text-align: center;
}
.logo{
    align-content: center;
    margin-left: 40%;
}
.nav{
    margin-left: 15%;
}
.table{
    margin-left: auto;
    margin-right: auto;
}
.theader{
    text-align: center;
}
.par{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}
img{
    width: 500px;
    height: 300px;
}