<<<<<<< HEAD
.sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.bar-item{
    margin: 20px;
    display: block;
}
a{
    text-decoration: none;
    color: white;
}
=======
body{
    text-align: center;
    
}
h1{
    color: blue;
}

.myfooter{
    size: 21px;
    background-color: rgb(223, 222, 202);
    color: blueviolet;
}

>>>>>>> a4f05eb0021621a737c3909c37ece00f5b7e5ee6
